build/
install/
log/
runs
yolo12s.pt
datasets/raw_images
src/zed-ros2-wrapper
datasets
raw_images
erc-mars-rover_perception.tar
src/probe_detection/Training/setup_clearml.sh
src/probe_detection/Training/marsYardData/*
src/probe_detection/Training/epoch_times.json
src/gcs/gcs_server/target
src/probe_detection/Training/ucloud_training/setup_clearml.sh
src/probe_detection/Training/ucloud_training/marsYardData/*
src/simulation/usd/mars_yard
src/simulation/usd/Mars_Yard.usd
src/slam/config/MID360_config.json
src/probe_detection/verify_system/Annotated_filledOut
src/probe_detection/verify_system/annotations
.vscode
